.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 30px;

  .title {
    font-family: 'JuliusSansOne';
    color: var(--point-color);
    font-size: 12.8px;
  }

  .subTitle {
    font-family: 'GowunDodum';
  }

  .division {
    width: 100%;
    height: 0;
    border-top: 1px dashed var(--point-color);
  }

  .desc {
    font-family: 'GowunDodum';
    text-align: center;
    line-height: 180%;
  }
}
