@font-face {
  font-family: 'MinionPro';
  src: url('./fonts/MinionPro-Disp.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JuliusSansOne';
  src: url('./fonts/JuliusSansOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunDodum';
  src: url('./fonts/GowunDodum-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantInfant';
  src: url('./fonts/CormorantInfant-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Broadcast';
  src: url('./fonts/Broadcast_Matter.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LoveLight';
  src: url('./fonts/LoveLight-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Painting';
  src: url('./fonts/Painting_With_Chocolate.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
