.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 30px;

  .title {
    font-family: 'JuliusSansOne';
    color: var(--point-color);
    font-size: 0.8rem;
    font-weight: 700;
  }

  .subTitle {
    font-family: 'GowunDodum';
  }

  .division {
    width: 100%;
    height: 0;
    border-top: 1px dashed var(--point-color);
  }

  .desc {
    font-family: 'GowunDodum';
    text-align: center;
    line-height: 180%;
  }

  .toggle {
    font-family: 'GowunDodum';
    background-color: white;
    width: 100%;
    border: 1px solid var(--point-color2);
    border-radius: 6px;

    &.active {
      > div:nth-child(1) {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--point-color2);
      padding: 10px 15px;
      cursor: pointer;

      svg {
        width: 20px;
        transition: transform 0.3s;
      }
    }
    .toggleDiv {
      max-height: 1000px;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    &:not(.active) {
      > div:nth-child(1) {
        border-bottom-width: 0px;
        transition: border-bottom-width 0.5s ease-in;
      }
      .toggleDiv {
        max-height: 0px;
      }
    }

    .toggleItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;

      &:not(:last-child) {
        border-bottom: 1px dashed var(--point-color2);
      }

      > div:nth-child(1) {
        line-height: 180%;
      }

      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 4px;

        button {
          height: 26px;
          width: 60px;
        }

        .copyBtn {
          display: flex;
          background-color: var(--page-background-color);
          border: 1px solid var(--point-color2);
          border-radius: 4px;
          padding: 4px 6px;
          gap: 6px;
          font-size: 10px;

          svg {
            width: 16px;
          }
        }

        .kakaoBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          border: none;
          padding: 4px 6px;
          background-color: #fee500;

          img {
            width: 40px;
          }
        }
      }
    }
  }
}
