.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 30px;

  .title {
    font-family: 'JuliusSansOne';
    color: var(--point-color);
    font-size: 12.8px;
  }

  .subTitle {
    font-family: 'GowunDodum';
  }

  .division {
    width: 100%;
    height: 0;
    border-top: 1px dashed var(--point-color);
  }

  .desc {
    font-family: 'GowunDodum';
    text-align: center;
    line-height: 180%;
  }

  .toggle {
    font-family: 'GowunDodum';
    background-color: white;
    width: 100%;
    border: 1px solid #f9f5f5;
    border-radius: 6px;

    &.active {
      > div:nth-child(1) {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f9f5f5;
      padding: 10px 15px;
      cursor: pointer;

      svg {
        width: 20px;
        transition: transform 0.3s;
      }
    }
    > div:nth-child(2) {
      max-height: 1000000px;
      overflow: hidden;
      transition: all 0.5s;
    }
    &:not(.active) {
      > div:nth-child(2) {
        height: 0;
        max-height: 0;
      }
    }

    .toggleItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;

      &:not(:last-child) {
        border-bottom: 1px dashed #f9f5f5;
      }

      > div:nth-child(1) {
        line-height: 180%;
      }

      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 4px;

        button {
          height: 26px;
          width: 60px;
        }

        .copyBtn {
          display: flex;
          background-color: #fdfafa;
          border: 1px solid #f9f5f5;
          border-radius: 4px;
          padding: 4px 6px;
          gap: 6px;

          svg {
            width: 16px;
          }
        }

        .kakaoBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          border: none;
          padding: 4px 6px;
          background-color: #fee500;

          img {
            width: 40px;
          }
        }
      }
    }
  }
}
