.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 40px;
  gap: 30px;

  .title {
    font-family: 'JuliusSansOne';
    color: var(--point-color);
    font-size: 0.8rem;
    font-weight: 700;
  }

  .date {
    font-family: 'GowunDodum';
  }

  table {
    font-family: 'GowunDodum';
    width: 90%;
    text-align: center;
    margin-top: 20px;

    tr {
      td {
        padding: 7px 0;
        font-size: 16px;
        position: relative;

        &:nth-child(1) {
          color: var(--point-color);
        }
        &.active {
          > div {
            color: white;
            z-index: 2;
            position: absolute;
            transform: translateY(-47%);
            width: 100%;
          }
          > p {
            position: absolute;
            bottom: -10px;
            width: 100%;
            color: var(--point-color);
            z-index: 2;
            font-size: 10px;
          }

          > span {
            z-index: 1;

            &::before,
            &::after {
              border-radius: 50px 50px 10px 10px;
              content: '';
              height: 85%;
              left: 49%;
              position: absolute;
              top: 9%;
              transform: rotate(-45deg);
              transform-origin: 0 100%;
              width: 38%;
              background-color: var(--point-color);
            }

            &::after {
              left: 13%;
              transform: rotate(45deg);
              transform-origin: 100% 100%;
            }
          }
        }
      }
    }
  }

  .timer {
    color: var(--point-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'CormorantInfant';

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      text-align: center;
      border-radius: 8px;
      background-color: var(--page-background-color);
      border: 1px solid var(--page-background-color2);
      min-width: 50px;

      > span {
        font-size: 10px;
        color: var(--point-color);
        font-weight: 700;
      }
    }
  }
  .desc {
    font-family: 'GowunDodum';

    > span {
      color: var(--point-color);
    }
  }
}
