.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  z-index: 5000;

  .modal {
    width: 100%;
    max-width: var(--page-width);
    overflow: hidden;
  }

  .modalTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid var(--gray-color2);
  }
  .modalIndex {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 15px 20px;
  }
  .iconBtn {
    position: absolute;
    top: 50%;
    padding: 6px 10px;
    cursor: pointer;
    background-color: unset;
    border: none;

    svg {
      width: 30px;
    }

    &.prev {
      left: 0;

      svg {
        transform: rotate(270deg);
      }
    }
    &.next {
      right: 0;

      svg {
        transform: rotate(90deg);
      }
    }
  }
  .modalBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper {
      :global(.swiper-wrapper) {
        display: flex;
        align-items: center;
      }

      .modalImg {
        display: flex;
        align-items: center;
        justify-items: center;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          display: block;
        }
      }
    }
  }
  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    border: none;
    background-color: unset;
  }
}
