@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  to {
    transform: translate3d(85px, 0, 0);
  }
}

.container {
  position: relative;

  img {
    width: 100%;
  }

  .names {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'MinionPro';

    > span {
      padding: 20px;
      color: white;
      font-size: 12.8px;
    }
  }

  .txtContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .married {
      font-family: 'Bastian Script', sans-serif;
      color: white;
      font-size: 70px;
      rotate: -10deg;
      padding-bottom: 20px;
      text-align: left;
      padding-left: 70px;
    }
    .date {
      font-family: 'MinionPro';
      font-size: 19.2px;
      color: white;
      text-align: center;
    }
    .desc {
      font-family: 'MinionPro';
      font-size: 9.6px;
      color: white;
      text-align: center;
    }
  }

  .bottomAni {
    > svg {
      transform: rotate(0deg);
      height: 40px;
      max-height: 150px;
      min-height: 40px;
      position: absolute;
      width: 100%;
      bottom: -1px;

      > g {
        > use {
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
            infinite;
        }
        > use:first-child {
          animation-delay: -2s;
          animation-duration: 7s;
        }
        > use:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 10s;
        }
        > use:nth-child(3) {
          animation-delay: -4s;
          animation-duration: 13s;
        }
        > use:nth-child(4) {
          animation-delay: -5s;
          animation-duration: 20s;
        }
      }
    }
  }

  .effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
