.container {
  position: relative;
  display: flex;
  flex: 0;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 30px;

  .title {
    font-family: 'JuliusSansOne';
    color: var(--point-color);
    font-size: 12.8px;
  }

  .listContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;

    .list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      > div {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      .item {
        overflow: hidden;
        border-radius: 4px;

        img {
          width: 125px;
          height: 125px;
        }
      }
    }
  }
}
