.container {
  position: relative;
  display: flex;
  flex: 0;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0;
  gap: 30px;
  background-color: white;

  .title {
    font-family: 'JuliusSansOne';
    color: var(--point-color);
    font-size: 12.8px;
    padding: 0 20px;
  }

  .listContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 20px;

    .list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 20px 5px;

      > div {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      .item {
        overflow: hidden;
        border-radius: 4px;

        img {
          width: 125px;
          height: 125px;
          object-fit: cover;
        }
      }
    }
  }
}
