:root {
  --point-color: #dab1b6;
  --page-width: 440px;
  --background-color: #333333;
  --page-background-color: #fdfafa;
  --page-background-color2: #fbf5f5;
  --PAGE-WIDTH: min(100vw, --page-width);
  --DEVICE-HEIGHT: 100svh;
  --menu-height: 50px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}
