.wrap {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;

  .layout {
    display: flex;
    justify-content: space-between;
    width: min(var(--page-width), 100vw);
    background-color: var(--page-background-color);
    min-height: 100vh;

    .page {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-x: hidden;
    }
  }
}
