@charset "utf-8";
/* ==========================================================================
   reset CSS
========================================================================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
select,
textarea,
button,
a,
span {
  font-family: 'GowunDodum';
  color: inherit;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  word-break: unset;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}
b,
span,
figure {
  vertical-align: top;
  font-size: inherit;
}
a {
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
}
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
}
a:focus,
button:focus {
  outline: 0;
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
html {
  -webkit-text-size-adjust: 100%;
}
